Repository AppQuality/unguess-react, pull requests merged in 2025-03, with the labels that each got.

#1172 feat(templates): Add Templates page with context and sidebar navigation
  src/common/Pages.tsx
  src/common/components/navigation/sidebar/index.tsx
  src/common/schema.ts
  src/features/api/index.ts
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Templates/Body.tsx
  src/pages/Templates/Context.tsx
  src/pages/Templates/PageHeader.tsx
  src/pages/Templates/ProjectDropdown.tsx
  src/pages/Templates/index.tsx
  tests/e2e/templates.spec.ts
  tests/e2e/templates/index.spec.ts
  tests/fixtures/Templates.ts
Labels: enhancement, e2e

#1181 Update Accordion component and upgrade design system version
  package.json
  src/pages/Plan/modules/Tasks/parts/TaskItem.tsx
  yarn.lock
Labels: enhancement

#1182 UN-927-module-tasks-v3
  package.json
  src/assets/icons/exploratory-task-icon.svg
  src/assets/icons/functional-task-icon.svg
  src/assets/icons/survey-task-icon.svg
  src/assets/icons/thinking-aloud-task-icon.svg
  src/common/schema.ts
  src/features/api/index.ts
  src/features/modules/useModuleValidation.ts
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Plan/index.tsx
  src/pages/Plan/modules/Dates.tsx
  src/pages/Plan/modules/Tasks.tsx
  src/pages/Plan/modules/Tasks/context/index.tsx
  src/pages/Plan/modules/Tasks/hooks/index.ts
  src/pages/Plan/modules/Tasks/index.tsx
  src/pages/Plan/modules/Tasks/parts/AddTaskButton.tsx
  src/pages/Plan/modules/Tasks/parts/ButtonsContainer.tsx
  src/pages/Plan/modules/Tasks/parts/DeleteTaskConfirmationModal.tsx
  src/pages/Plan/modules/Tasks/parts/ExperientialTasks.tsx
  src/pages/Plan/modules/Tasks/parts/FunctionalTasks.tsx
  src/pages/Plan/modules/Tasks/parts/SurveyTasks.tsx
  src/pages/Plan/modules/Tasks/parts/TaskItem.tsx
  src/pages/Plan/modules/Tasks/parts/TaskItemNav.tsx
  src/pages/Plan/modules/Tasks/parts/TasksList.tsx
  src/pages/Plan/modules/Tasks/parts/TasksListNav.tsx
  src/pages/Plan/modules/Tasks/parts/TasksModal.tsx
  src/pages/Plan/modules/Tasks/parts/index.ts
  src/pages/Plan/modules/Tasks/utils/getIconFromTask.tsx
  src/pages/Plan/modules/Tasks/utils/index.ts
  src/pages/Plan/modules/Tasks/utils/useHandleModalItemClick.ts
  tests/api/workspaces/wid/plans/_get/200_Example_1.json
  tests/api/workspaces/wid/plans/pid/_get/200_draft.json
  tests/api/workspaces/wid/plans/pid/_get/200_draft_complete.json
  tests/api/workspaces/wid/plans/pid/_get/200_draft_complete_date_error.json
  tests/api/workspaces/wid/plans/pid/_get/200_draft_mandatory_only.json
  tests/api/workspaces/wid/plans/pid/_get/200_draft_missing_mandatory.json
  tests/api/workspaces/wid/plans/pid/_get/200_pending_review.json
  tests/e2e/plan/draft.spec.ts
  tests/e2e/plan/modules/dates.spec.ts
  yarn.lock
Labels: enhancement, feature, e2e

#1180 Un 926 modulo title
  src/features/modules/useModule.ts
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Plan/Controls.tsx
  src/pages/Plan/modules/Title.tsx
  src/pages/Plan/navigation/Header.tsx
  src/pages/Plan/navigation/TitleGroup.tsx
  tests/e2e/plan/modules/title.spec.ts
  tests/fixtures/Plan.ts
Labels: feature, e2e

#1187 UN-947 add gender module
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Plan/modules/Gender.tsx
Labels: feature, e2e

#1184 UN-948 digital literacy module
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Plan/modules/Literacy.tsx
  tests/e2e/plan/modules/digitalLiteracy.spec.ts
  tests/fixtures/Plan.ts
Labels: feature, e2e

#1186 Un 944 - Target Size module
  src/assets/icons/user-follow.svg
  src/common/schema.ts
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Plan/modules/TargetSize.tsx
  src/pages/Plan/modules/Users.tsx
  src/pages/Plan/modulesMap.tsx
  tests/api/workspaces/wid/plans/pid/_get/200_draft_complete.json
  tests/e2e/plan/modules/target_size.spec.ts
  tests/fixtures/Plan.ts
Labels: feature, e2e

#1211 UN-1001 browser module
  src/common/schema.ts
  src/features/api/index.ts
  src/features/modules/useModule.ts
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Plan/modules/Browser.tsx
  src/pages/Plan/modulesMap.tsx
  src/pages/Plan/utils/getIconFromModule.tsx
  src/pages/Plan/utils/getTitleFromModuleType.tsx
Labels: feature, e2e

#1212 Un 997 module note del compilatore
  src/assets/icons/notification.svg
  src/common/schema.ts
  src/features/modules/useModule.ts
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Plan/modules/InstructionsNote.tsx
  src/pages/Plan/modules/SetupNote.tsx
  src/pages/Plan/modules/TargetNote.tsx
  src/pages/Plan/modulesMap.tsx
  src/pages/Plan/utils/getIconFromModule.tsx
  src/pages/Plan/utils/getTitleFromModuleType.tsx
Labels: feature, e2e

#1209 UN-995-send-request-modal
  src/features/modules/useRequestQuotation.ts
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Plan/Controls.tsx
  src/pages/Plan/index.tsx
  src/pages/Plan/modals/SendRequestModal.tsx
  src/pages/Plan/modules/Dates.tsx
  src/pages/Plan/modules/Tasks/parts/nav/TaskItemNav.tsx
  src/pages/Plan/modules/Title.tsx
  src/pages/Plan/navigation/header/Header.tsx
  src/pages/Plan/navigation/header/TitleGroup.tsx
  tests/e2e/plan/draft.spec.ts
  tests/e2e/plan/modules/title.spec.ts
  tests/fixtures/Plan.ts
Labels: enhancement, feature, e2e

#1210 Un 982 templates
  package.json
  src/common/components/navigation/sidebar/icons/templates-active.svg
  src/common/components/navigation/sidebar/icons/templates.svg
  src/common/components/navigation/sidebar/index.tsx
  src/common/schema.ts
  src/features/navigation/Navigation.tsx
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Plan/navigation/aside/NavBody.tsx
  src/pages/Plan/summary/index.tsx
  src/pages/Templates/Body.tsx
  src/pages/Templates/CategoriesNav.tsx
  src/pages/Templates/Context.tsx
  src/pages/Templates/Drawer.tsx
  src/pages/Templates/ProjectDropdown.tsx
  src/pages/Templates/TemplateCardsGrid.tsx
  src/pages/Templates/index.tsx
  tests/api/workspaces/_get/200_shared.json
  tests/api/workspaces/wid/templates/_get/200_global_and_private_templates.json
  tests/e2e/templates/index.spec.ts
  tests/fixtures/Templates.ts
  tests/fixtures/UnguessPage.ts
  yarn.lock
Labels: enhancement, feature, e2e

#1226 Module Touchpoints
  src/assets/icons/touchpoint-app-desktop-icon.svg
  src/assets/icons/touchpoint-app-smartphone-icon.svg
  src/assets/icons/touchpoint-app-tablet-icon.svg
  src/assets/icons/touchpoint-web-desktop-icon.svg
  src/assets/icons/touchpoint-web-smartphone-icon.svg
  src/assets/icons/touchpoint-web-tablet-icon.svg
  src/assets/icons/touchpoints-icon.svg
  src/common/schema.ts
  src/features/api/index.ts
  src/features/modules/useModule.ts
  src/locales/en/translation.json
  src/locales/it/translation.json
  src/pages/Plan/modules/Touchpoints/context/index.tsx
  src/pages/Plan/modules/Touchpoints/hooks/index.ts
  src/pages/Plan/modules/Touchpoints/index.tsx
  src/pages/Plan/modules/Touchpoints/parts/AddTouchpointButton.tsx
  src/pages/Plan/modules/Touchpoints/parts/TouchpointItem.tsx
  src/pages/Plan/modules/Touchpoints/parts/TouchpointItemDesktop.tsx
  src/pages/Plan/modules/Touchpoints/parts/TouchpointItemSmartphone.tsx
  src/pages/Plan/modules/Touchpoints/parts/TouchpointItemTablet.tsx
  src/pages/Plan/modules/Touchpoints/parts/TouchpointWeb.tsx
  src/pages/Plan/modules/Touchpoints/parts/TouchpointsList.tsx
  src/pages/Plan/modules/Touchpoints/parts/index.ts
  src/pages/Plan/modules/Touchpoints/parts/modal/AppTouchpoints.tsx
  src/pages/Plan/modules/Touchpoints/parts/modal/ButtonsContainer.tsx
  src/pages/Plan/modules/Touchpoints/parts/modal/DeleteTouchpointConfirmationModal.tsx
  src/pages/Plan/modules/Touchpoints/parts/modal/TouchpointsModal.tsx
  src/pages/Plan/modules/Touchpoints/parts/modal/WebTouchpoints.tsx
  src/pages/Plan/modules/Touchpoints/parts/modal/index.ts
  src/pages/Plan/modules/Touchpoints/parts/nav/TouchpointItemNav.tsx
  src/pages/Plan/modules/Touchpoints/parts/nav/TouchpointsListNav.tsx
  src/pages/Plan/modules/Touchpoints/parts/nav/index.ts
  src/pages/Plan/modules/Touchpoints/utils/getIconFromTouchpoint.tsx
  src/pages/Plan/modules/Touchpoints/utils/index.ts
  src/pages/Plan/modules/Touchpoints/utils/useHandleModalItemClick.ts
  src/pages/Plan/modulesMap.tsx
  src/pages/Plan/navigation/aside/const.tsx
  src/pages/Plan/utils/getIconFromModule.tsx
  src/pages/Plan/utils/getTitleFromModuleType.tsx
Labels: feature, e2e

#1232 feat(plan): refactor navigation layout with sticky columns and new NavContainer component
  src/pages/Plan/PlanBody.tsx
  src/pages/Plan/common/NavContainer.tsx
  src/pages/Plan/common/StickyCol.tsx
  src/pages/Plan/common/StickyContainer.tsx
  src/pages/Plan/index.tsx
  src/pages/Plan/navigation/aside/NavBody.tsx
  src/pages/Plan/navigation/aside/NavItemChildren.tsx
  src/pages/Plan/navigation/aside/modal/AddBlockModal.tsx
  src/pages/Plan/summary/components/DetailsCard.tsx
  src/pages/Plan/summary/index.tsx
Labels: enhancement, e2e, refactor
